torch==1.9.0
faiss-gpu==1.6.5
transformers==2.9.0
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_sm-0.4.0.tar.gz
h5py
tqdm
blosc
ujson
rouge
wandb
nltk
flask
flask_cors
tornado
requests-futures
flashtool
tensorboardX
inflect
